@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Montserrat', sans-serif;

  --breakpoint-3xl: 1920px;

  --bahana-primary: #d7181f;
  --bahana-darker: #4b4b4b;
}

.bg-primary {
  background-color: #d7181f;
}

.text-primary {
  color: #d7181f;
}

.hover\:bg-primary:hover {
  background-color: #d7181f; /* Replace with your preferred hover color */
}

.custom-nav-link {
  all: unset;
  @apply w-full md:w-fit block font-semibold text-base text-center justify-self-center hover:text-white py-3 px-6 md:px-14 transition-colors duration-400 ease-in-out;
}
